doctype html
html(lang="cmn-Hans-CN")

  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title My App
  
    meta(name="description" content="This is a description")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  
    link(rel="manifest" href="site.webmanifest")
    link(rel="icon" type="image/png" href="/favicon.png")
    link(rel="apple-touch-icon" href="/image/lion.svg")

    each css in htmlWebpackPlugin.files.css
      link(rel="stylesheet" href="/" + css)
  
  body
    noscript
      strong We're sorry but the website doesn't work properly without JavaScript enabled. Please enable it to continue.

    div#app

    each js in htmlWebpackPlugin.files.js
      script(src="/" + js)

//- title #{htmlWebpackPlugin.options.title}
